<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicplayerforandriodbestvoicecontroledsmsapp.jsonparr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Infomtions"></activity>
        <activity android:name=".Mainpage" />
        <activity android:name=".Countrydata" />
        <activity android:name=".Basicinfo" />
        <activity android:name=".Cough" />
        <activity android:name=".symptoms" />
        <activity android:name=".Stop" />
        <activity android:name=".Preventions" />
        <activity android:name=".Information" />
        <activity android:name=".World" />
        <activity android:name=".FirstPage" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>